<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="mycon" connectionString="Server=26b22e51-ccd9-46e2-b4fa-a43e00867920.sqlserver.sequelizer.com;Database=db26b22e51ccd946e2b4faa43e00867920;User ID=fjqmwsyvbkilvhiv;Password=pXkhM8rtn2NdPTWFpwR6Fqry7CZyLySbuUoELqLnftp8d5jsJWkAGxr7FTijh2QV;"/>
  </connectionStrings>
</configuration>